# Sphinx build
build/

# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Virtual env
venv/
.env
.venv/

# Downloaded and generated scATAC tutorial data
source/epigenomics/scatac_tutorial/data/raw/*
!source/epigenomics/scatac_tutorial/data/raw/README.md
source/epigenomics/scatac_tutorial/data/processed/*
!source/epigenomics/scatac_tutorial/data/processed/README.md
source/epigenomics/scatac_tutorial/results/
