.wy-side-nav-search, .wy-nav-top {
    background: #6C0BA9;
}

.center h1,
.center h2 {
    text-align: center;
}

.rst-content img,
.rst-content .figure,
.rst-content figure {
    margin-top: 1em;
    margin-bottom: 1.5em;
}
